security:
    enable_authenticator_manager: true

    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/_(profiler|wdt)
            security: false

        main:
            pattern: ^/
            provider: app_user_provider
            custom_authenticator: App\Security\LoginFormAuthenticator
            logout:
                path: app_logout
                invalidate_session: true
            # no anonymous: lazy needed

    access_control:
        - { path: ^/login$, roles: PUBLIC_ACCESS }
        - { path: ^/$, roles: PUBLIC_ACCESS }     # Landing page public
        - { path: ^/change-password, roles: ROLE_ADMIN }         # protected
        - { path: ^/dashboard, roles: ROLE_ADMIN }               # protected
        - { path: ^/home, roles: ROLE_ADMIN }                    # post-login dashboard

